<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./css/note.css" />
</head>

<body>

	<div id="app">
		<!-- 头部-输入框 -->
		<div>
			<input type="text" v-model="inputvalue" @keyup.enter="add" class="inputdiv" />
		</div>
		<!-- 身体-条目 -->
		<ul>
			<li v-for="(item,index) in list" class="todo">
				<div>
					<span>{{index+1}}</span>
					<label>{{item}}</label>
					<button class="button" @click="remove(index)">删除</button>

				</div>
			</li>
		</ul>
		<!-- 底部-汇总 -->
		<div v-show="list.length>0">
			<span>共{{list.length}}条</span>
			<button class="button" @click="deleteall">全部删除</button>
		</div>
	</div>
	<!-- 开发环境版本，包含了有帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script>
		var app = new Vue({
			el: "#app",
			data: {
				list: [
					"吃饭饭",
					"睡觉觉",
					"写代码"
				],
				inputvalue: "天天向上",
			},
			methods: {
				getipvalue: function () {
					alert(this.inputvalue);
				},
				add: function () {
					this.list.push(this.inputvalue);
				},
				remove: function (index) {
					this.list.splice(index, 1);
					console.log(index);
				},
				deleteall: function () {
					this.list.splice(0, this.list.length)
				}

			}
		})
	</script>

</body>

</html>